@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import'./global.css';
@import'./loyout.css';


header {
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0px;
    top: calc(50% - 906px/2);
    background: #F7F6FF;
    transition: 0.7s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

header:hover {
    width: 206px;
}

.conteiner {
    position: relative;
    margin: 0 auto;
    height: 906px;
    left: 0px;
}

.sep-line {
    position: absolute;
    left: 18px;
    right: 18px;
    top: 110.03px;
    border: 2px solid #C4C4C4;
    background-color: #C4C4C4;
}

.logo {
    margin: 0 auto;
    padding: 52px 0px;
    width: 68px;
    height: 34px;
    left: 16px;
}

.nav {
    transform: translateY(20px);
    position: relative;
    padding-top: 72px;
    position: absolute;
    height: 56px;
    left: 11px;
    right: 0;
    top: calc(50% - 57px/2 - 282.5px);
}

.icon>.textnav {
    visibility: hidden;
    transition: 0.3s;
}

.icon-game>.textnav {
    visibility: hidden;
}

.icon {
    transform: translateY(-112px);
    display: flex;
    padding-top: 62px;
    margin-left: 17px;
    justify-content: flex-start;
    align-content: center;
    text-decoration: none;
    background-color: #F7F6FF;
    line-height: 150%;
    text-align: auto auto;

}

header:hover .textnav {
    visibility: visible;
    color: #02577A;
    transition: 1s;



}

.icon:hover,
.icon-game:hover {
    background-color: white;
    border-radius: 25px 0px 0px 25px;
    transition: .2s;
}

.icon:hover {
    background-color: white;
    border-radius: 25px 0px 0px 25px;
    transition: .2s;
}


.icon-game {
    transform: translateY(-112px);
    display: flex;
    padding-top: 62px;
    margin-left: 17px;
    justify-content: flex-start;
    align-content: center;
    text-decoration: none;
    color: #F7F6FF;

}

.footer {
    display: flex;
    padding-top: 11px;
    height: 24px;
    left: 626px;
    top: 100vh;
    ;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #02577A;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.sep-footer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 346.01px;
    height: 0px;
    top: 96vh;
    border: 1px solid #02577A;
}